{% extends "base.html" %}
{% block title %}Add Post{% endblock %}
{% block content %}
    <h1>Sign up to beta test</h1>
    <form action="/email" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" autofocus>
        </div>
        <div class="form-group">
            <label for="parent-status">Are you a current parent? (please type yes or no)</label>
            <input type="text" name="parent-status">
        </div>
        <div class="form-group">
            <label for="child-age"> How old is your youngest child? (please type in months)</label>
            <input type="text" name="child-age">
        </div>
        <div class="form-group">
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}
